// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap3/dist/css/bootstrap.min.css';

// Admin-LTE
@import '~font-awesome/css/font-awesome.min.css';
@import '~ionicons/dist/css/ionicons.min.css';
@import '~admin-lte/dist/css/AdminLTE.min.css';
@import '~admin-lte/dist/css/skins/skin-purple.min.css';

.btn-sfw:not(.active) {
    background-color: #fff;
    color: #333;
    border-color: #eee;
}

.btn-nsfw:not(.active) {
    background-color: #fff;
    color: #333;
    border-color: #eee;
}

/* fix layout style */
.main-footer {
    border: none !important;
    box-shadow: 0 -1px 0 #d2d6de !important;
}

/* add scroll style */
::-webkit-scrollbar
{
    width: 7px;
    background: rgb(251, 246, 246);
}

::-webkit-scrollbar-thumb
{
    border-radius: 7px;
    background-color: rgba(190, 186, 186, 0.6);
}
